@import '../../assets/reset';

.back{
    background-color: #f6ede2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vh;
    height: 95vh;
    margin: auto;
  
    .container{
        background: url('../../assets/images/education/background.png');
        background-size: contain;
        text-align: center;
        width: 95vh;
        height: 95vh;
        

        p.art{
            @include upperText;
            padding-bottom: 10%;
            padding-left: 7%;
            text-align: center;
        }
    
        .content{

        display: flex;

        .edu{
            width: 55%;
            h2{
                @include header1;
                margin: 0;
                // padding-left: 10%;
                text-align: right;
                font-size: 4rem;
                font-weight: 700;
            }
           
        }
        
        .text {
            width: 40%;
            text-align:left ;
            padding-left: 6%;
            line-height: 110%;
            overflow: hidden;
            p{
                @include innerText;
                margin: auto;
                padding-bottom: 7%;
                padding-left: 0;
                padding-right: 5%;
                font-weight: 500;
                font-size:80%;
            }

            .year{
                font-weight: bolder;
                font-size: 90%;
                padding: 0;
                padding-top: 5%;

            }
            .header{
                font-weight: bolder;
                padding-bottom: 1%;
                font-size: 90%;

            }
            .line{
                // height: 1px;
                border: 1px black solid;
                width: 70%;
            }
                      
            
            .site{
                @include lastText;
                padding-top: 3%;
                font-size: 80%;
                
            }
        }

        
    }
    }
}