<div class="back">
    <div class="container">
        <p class="art">Art Director  / Designer Graphic</p>
        <div class="content">
            <div class="edu"><h2>Education</h2></div>
            <div class="text">
                <p class="year">2015</p>
                <p class="header">Creative Developer Workshop</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, iste, adipisci dicta accusamus ullam sunt molestias sed accusantium culpa voluptas nihil. </p>
                <div class="line"></div>
                <p class="year">2015</p>
                <p class="header">Creative Developer Workshop</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, iste, adipisci dicta accusamus ullam sunt molestias sed accusantium culpa voluptas nihil. </p>
                <div class="line"></div>
                <p class="year">2015</p>
                <p class="header">Creative Developer Workshop</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, iste, adipisci dicta accusamus ullam sunt molestias sed accusantium culpa voluptas nihil. </p>
                <p class="site">www.yoursite.com</p>
            </div>
        </div>
    </div>
</div>
