<div class='back'>
    <div class='container'>
        <div class="upper-text">Art Director / Designer Graphic</div>
        <div class="text-inside">
            <h1> about me</h1>
            <p class="inner-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam beatae, consequuntur ullam at tempore soluta voluptatum reiciendis culpa cum vero quae temporibus voluptates corporis unde molestiae dolore iusto mollitia voluptatibus.</p>
            <p class="last-text">www.yoursite.com</p>
        </div>
    </div>
</div>


