@import '../../assets/reset';

.back{
    background-color: #f6ede2;
    height: 95vh;
    width: 95vh;
    margin: auto;
    .container{
        background-image: url(../../assets/images/aboutMe/background.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 15px 30px;
        box-sizing: border-box;
        .upper-text{
            text-align: center;
            @include upperText;
        }
        .text-inside{
            width: 50%;
            animation: flyin 3s ease-in-out forwards;
            opacity: 0;
            transform: scale(2);
            filter: blur(4px);
            animation-delay: 1s;
            @keyframes flyin {
             to { 
                filter: blur(0);
                transform: scale(1);
                opacity: 1;
            }
        }
            h1{
                @include header1; 
                line-height: 35px;
            }
            .inner-text{
                @include innerText;
            }
            .last-text{
                @include lastText;
            }
        }
    }
}