<h1>SOCIAL MEDIA POST TEMPLATE</h1>
<p>Portfolio</p>
<div class="container">
    <div class="portfolio">
        <div class="back">
            <div class="header">
                <img src="../../assets/images/portfolio/logo.png">
                <div class="upper-text">Art Director / Designer Graphic</div>
            </div>
            <div class='main-part'>
                <h1>port- <br> 
                folio </h1>
                <p class="inner-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae aperiam, rerum nam iste ea provident quod voluptates omnis quibusdam consequuntur assumenda veniam ex, saepe laborum, quae obcaecati ut repellat quisquam.
                </p>
            </div>
        </div>
    </div>

    <div class="links">
       <div class="link"> <a routerLink='/about'><img src="../../assets/images/mainPage/aboutPicForLink.png" alt=""></a></div> 
       <div class="link"> <a routerLink='/education'><img src="../../assets/images/mainPage/eduPicForLink.png" alt=""></a> </div>
       <!-- <div class="space"></div> -->
       <div class="link"> <a routerLink='/project'><img src="../../assets/images/mainPage/lastProjectPicForLink.png" alt=""></a> </div>
       <div class="link"> <a routerLink='/selected-works'><img src="../../assets/images/mainPage/selWorksPicForLink.png" alt=""></a> </div>
    </div>
</div>

