@import '../../assets/reset';

h1,p{
    @include header1;
    text-align: center;
    font-weight: 800;
    font-size: 200%;
    margin: auto;
    
}
p{
    margin-bottom: 2%;
}



.container{
    display: flex;
    
    .portfolio{
        width: 50%;
        
    }

    .links{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .link{
            width: 45%;

            img{
                width: 100%;
            }
        }
        .space{
            width: 100%;
            height: 10%;
            border: 1px solid inherit;
        }



    }
}