
<div class="container">
    <div class="portfolio">
        <div class="red"></div>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="back">
                        <div class="header">
                            <img src="../../assets/images/portfolio/logo.png">
                            <div class="upper-text">Art Director / Designer Graphic</div>
                        </div>
                        <div class='main-part'>
                            <h1>port- <br> 
                            folio </h1>
                            <p class="inner-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae aperiam, rerum nam iste ea provident quod voluptates omnis quibusdam consequuntur assumenda.
                            </p>
                            <p class="inner-text inner-text-less">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae aperiam, rerum nam iste ea provident quod voluptates. 
                            </p>
                        </div>
                        <p class="last-text">www.yoursite.com</p>    
        </div>
            
            
            
            
        
    </div>

    <div class="links">
       <div class="link" routerLink='/about'><img src="../../assets/images/mainPage/aboutPicForLink.png" alt=""></div> 
       <div class="link" routerLink='/education'><img src="../../assets/images/mainPage/eduPicForLink.png" alt=""> </div>
       <!-- <div class="space"></div> -->
       <div class="link" routerLink='/project'><img src="../../assets/images/mainPage/lastProjectPicForLink.png" alt=""></div>
       <div class="link" routerLink='/selected-works'><img src="../../assets/images/mainPage/selWorksPicForLink.png" alt=""> </div>
    </div>
</div>

