@import '../../assets/reset';


.container{
    // margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
    .portfolio{
        width: 40vw;
        height: calc(40vw + 20px);
        background-color: #f6ede2;
        @media screen and (max-width: 768px) {
            width: 80vw;
          }
        .back{
            width: 100%;
            height: 100%;
            background-image: url(../../assets/images/portfolio/background.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding: 15px 30px;
            position: relative;
            @media screen and (max-width: 768px) {
                background-position-x: center;
              }
            @media screen and (max-width: 540px) {
                padding: 5px 10px;
              }
            .header{
                display: flex;
                justify-content: space-between;
                height: 8%;
                img{
                    height: 100%;

                }
                .upper-text{
                    @include upperText;
                }
            }
            .main-part{
                display: flex;
                justify-content: space-between;
                text-align: left;
                padding-top: 30px;
                align-items: flex-start;
                h1{
                    @include header1; 
                    width: 30%;
                    text-align: left;
                    margin: 0;
                    padding-left: 5%;
                    @media screen and (max-width: 900px) {
                        font-size: 32px;
                      }
                    @media screen and (max-width: 375px) {
                    font-size: 20px;
                    }
                }
                .inner-text{
                    @include innerText;
                    width: 30%;
                    text-align: left;
                    margin: 0;
                    padding-right: 5%;
                    @media screen and (max-width: 1400px) {
                        padding-right: 0;
                      }
                    @media screen and (max-width:1200px) {
                        display: none;
                      }
                }
                .inner-text-less{
                    display: none;
                    @media screen and (max-width: 1200px) {
                        display: block;
                      }
                    @media screen and (max-width: 540px) {
                        display: none;
                      }
                }
            }
            .last-text{
                @include lastText;
                position: absolute;
                bottom: 0;
                left: 40%;
                @media screen and (max-width: 540px) {
                    margin: 0;
                  }
            }
        }
       
    }

    .links{
        width: 40vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        
        @media screen and (max-width: 768px) {
            width: 80vw;
            margin-top: 20px;
          }
        .link{
            box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.267);
            padding: 0;
            margin: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .link:hover{
            transform: scale(1.1);
            transition-duration: 1s;
        }
  
    }
}