@import '../../assets/reset';
.back{
    background-color: #f6ede2;
    height: 95vh;
    width: 95vh;
    margin: auto;
    .container{
        background-image: url(../../assets/images/latestProject/background.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 15px 0 10% 10%;
        box-sizing: border-box;
        .upper-text{
            text-align: right;
            padding-right: 30px;
            @include upperText;
        }
        .content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 20%;
            overflow: hidden;
            .upper-small{
                width: 45%;
                height: 33%;
                .inner-text{
                    @include innerText;
                }
                img{
                    width: 100%;
                }
            }
            .down-small{
                width: 45%;
                height: 25%;
                padding-bottom: 40px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .upper-large{
                width: 54%;
                height: 33%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .down-large{
                width: 54%;
                height: 25%;
                padding-bottom: 40px;
                h1{
                    @include header1; 
                    margin: 0;
                    span{
                        font-weight: normal;
                    }
                }
                .last-text{
                    @include lastText;
                }
            }
        }
    }
}