@mixin upperText {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
@mixin innerText {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
}
@mixin lastText {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
@mixin header1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 42px;
}