@import '../../assets/reset';

.back{
    background-color: #f6ede2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vh;
    height: 95vh;
    margin: auto;
  
    .container{
        background: url('../../assets/images/selectedWorks/background.png');
        background-size: contain;
        text-align: center;
        width: 95vh;
        height: 95vh;
        

        p{
            @include upperText;
            padding-bottom: 20%;
            padding-left: 7%;
            text-align: left;
            font-weight: 500;
            font-size: 90%;
        }
    
        .content{

        display: flex;

        .img{
            // margin-left: 10%;
            // width: 80%;
            padding-left: 7%;
            display: flex;
            flex-direction: column;


            img{
                // padding-left: 15%;
                width: 100%;
            }
        }

        .text {

            text-align:left ;
            padding-left: 5%;
            // line-height: 110%;

            .space{
                height: 50%;
            }

            h2:nth-child(2){
                @include header1;
                font-weight: normal;
                margin: auto;
            }

            h2:nth-child(3){
                @include header1;
                margin: auto;

            }
            p{
                @include innerText;
                margin: auto;
                padding-bottom: 3%;
                padding-left: 0;
                padding-right: 7%;
                font-size: 80%;
                font-weight: 500;
                line-height: 150%;
            }
            .site{
                @include lastText;
                padding-top: 2%;
                font-size: 80%;
            }
        }

        
    }
    }
}