<div class="back">
    <div class="container">
        <p>Art Director  / Designer Graphic</p>
        <div class="content">
            <div class="img"><img src="../../assets/images/selectedWorks/photos/burger.png" alt=""><img src="../../assets/images/selectedWorks/photos/bottle.png" alt=""></div>
            <div class="text">
                <h3>Selected Works</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, fugiat provident.</p>
                <span>www.yoursite.com</span>
            </div>
        </div>
    </div>
</div>
