<div class="back">
    <div class="container">
        <p>Art Director  / Designer Graphic</p>
        <div class="content">
            <div class="img"><img src="../../assets/images/selectedWorks/photos/burger.png" alt=""><img src="../../assets/images/selectedWorks/photos/bottle.png" alt=""></div>
            <div class="text">
                <div class="space"></div>
                <h2>Selected</h2><h2>Works</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, iste, adipisci dicta accusamus ullam sunt molestias sed accusantium culpa voluptas nihil. </p>
                <p class="site">www.yoursite.com</p>
            </div>
        </div>
    </div>
</div>
